frontend/.idea
homework/.idea
homework/venv
projects/alonememo/.idea
projects/alonememo/venv
projects/bookreview/.idea
projects/bookreview/venv
projects/moviestar/.idea
projects/moviestar/venv
projects/prac/.idea
projects/prac/venv
pythonprac/.idea
pythonprac/venv